img{
    width: 35px;
    height:35px;   
}
body{
    background-color: darkblue;
    color: cyan;
}
#bvr{
    width: 600px;
    height:400px;     

}
#mc{
    width: 700px;
    height:400px;     
   
}